body{
    /* background-color: rgb(141, 201, 166) !important; */
    font-family: Arial, Helvetica, sans-serif!;
    /* background-image: url(../images/bgbg.jpg); */
    background-repeat: no-repeat;
    background-color: antiquewhite;
    background-size: cover;
}


.mt-20 {
    margin-top: 20px;
}

.profile-div > img  {
    border: 4px solid grey;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.text-center {
    text-align: center;
}

.spinner-border {
    height: 20px;
    width: 20px;
}

.main-heading{
    text-align: center;
    text-decoration: underline;
}
.figure{
    margin-left: 4%;
}
.figure-caption{
    text-align: center;
    color: black;
}
.list0hotel{
    margin-left: 10%;
}


.im{
    display: flex !important;
  justify-content: center !important;
}

.im h1{
    text-align: center;
}

.navbar-brand img{
    width: auto;
    height: 50px;
}

.btnn button a{
    color: black;
}
 #slide{
     height: 350px;
     width: 80%;
 }
 
 #copy-r{
    text-align: center;
 }

 .flex-contain{
     display: flex;
     justify-content: space-between;

 }
 

 .cardImg{
     height: 200px;
 }

 .dashmain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

 }

 .section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
 }

 .mainpageIcon{
     width: 50px;
     height: 50px;
 }
 p{
     text-align: justify;
     font-size: large;
 }
 .tbscreensection{
     display: flex;
     justify-content: space-evenly;
 }
 .tbscreensection > img{
     width: 600px;
     height: 450px;
 }
 .imagetb{
     height: 250px !important;
     width: 300px !important;
     margin-bottom: 20px !important;
     margin-top: -20px !important;
 }
 .emergencyImage{
     height: 200px;
     width: 300px;
     margin-top: 10px;
 }
 .sec{
     border: 1px dotted black;
     padding: 5px;
 }

 .cc{
     text-align: center;
    
 }

 .imgcard{
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 45%;
 }